<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<nav th:replace="index::navseeker"></nav>
<div class = "container">
    <div class = "container">
        <table class="table">
            <th height="50">Username</th>
            <th height="50">Position</th>
            <th height="50">Start Date</th>
            <th height="50">End Date</th>
            <div >
                <tr th:each = "work: ${companyList}">
                    <td th:text =  "${work.email}" >Username</td>
                    <td th:text =  "${work.position}" >Position</td>
                    <!--<td> <a th:utext =  "${education.school}" >Degree  </a> </td>-->
                    <td th:text =  "${work.start}" >Start</td>
                    <td th:text =  "${work.end}" >End</td>
                </tr>
            </div>
        </table>
</form>
</div>
</body>
</html>