<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<nav th:replace="index::navseeker"></nav>
<div class = "container">
    <table class="table">
        <tr th:object="${user}">
            <td th:utext =  "${user.firstName+' '+user.lastName+'&lt;br/&gt;'+email}"></td>
        </tr>
        <th height="50">Education</th>
        <div >
            <tr th:each = "education: ${educationList}">
                <td th:utext =  "${education.degree+'&lt;br/&gt;'+education.school+', '+education.year}" >Degree</td>
            </tr>
        </div>
        <th height="50">Experience</th>
        <div>
            <tr  th:each = "work: ${workList}">
                <td th:utext =  "${work.position+'&lt;br/&gt;'+work.company+', '+work.start+'-'+
                work.end+'&lt;br/&gt;'+work.duties}" >Degree</td>
            </tr>
        </div>
        <th height="50">Skills</th>
        <div>
            <tr th:each = "skills: ${skillList}">
                <td th:utext =  "${skills.skill}" >Skill</td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>