<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<nav th:replace="index::navseeker"></nav>
<div>
    <div class = "container">
        <table class="table">
            <th height="50">Salary</th>
            <th height="50">Description</th>
            <th height="50">Skills</th>
            <!--<div th:each = "user: ${userList}">-->
            <div>
                <tr th:each = "job:${jobList}">
                    <td> <a th:text =  "${job.salary}" >Degree  </a> </td>
                    <td> <a th:text =  "${job.description}" >Degree  </a> </td>
                    <td> <a th:text =  "${job.skills}" >Degree  </a> </td>
                </tr>
            </div>
        </table>
    </div>
</div>
</body>
</html>