<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<nav th:replace="index::navseeker"></nav>

<div class="container">
    <table class="table">
        <th height="50">Position</th>
        <th height="50">Salary</th>
        <th height="50">Lastname</th>
        <!--<div th:each = "user: ${userList}">-->
        <div>
            <tr > <!--th:each = "job:${jobs}"-->
                <td th:text =  "${jobs}" >Degree</td>
                <td th:text =  "${jobs}" >Degree</td>
                <td th:text =  "${jobs}" >Degree</td>
            </tr>
        </div>
    </table>
</div>
</body>

</html>