<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<nav th:replace="index::navseeker"></nav>
<div class = "container">
<form th:action = "@{/recruitSkillSearch}" th:object = "${skills}" method = "get">
    <div class = "container">
        <table class="table">
            <th height="50">Username</th>
            <div th:each = "skills: ${skillList}">
                <tr>
                    <td> <a th:utext =  "${skills.email}" >Username  </a> </td>
                </tr>
            </div>
        </table>
    </div>
</form>
</div>
</body>
</html>